pipeline/pl_season.json
{
	"name": "pl_season",
	"properties": {
		"activities": [
			{
				"name": "act_copy_for_seasons",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_source_restapi",
						"type": "DatasetReference",
						"parameters": {
							"pl_file_name": {
								"value": "@pipeline().parameters.pl_file_para",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sink_adls",
						"type": "DatasetReference",
						"parameters": {
							"pl_dir_path": {
								"value": "@concat(concat(concat('bronze/',pipeline().parameters.pl_file_para),'/'),formatDateTime(utcnow(),'yyyy-MM-dd'))",
								"type": "Expression"
							},
							"pl_file_path": {
								"value": "@concat(pipeline().parameters.pl_file_para,'.json')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Lookup_on_season",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "act_copy_for_seasons",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_sink_adls",
						"type": "DatasetReference",
						"parameters": {
							"pl_dir_path": {
								"value": "@concat(concat(concat('bronze/',pipeline().parameters.pl_file_para),'/'),formatDateTime(utcnow(),'yyyy-MM-dd'))",
								"type": "Expression"
							},
							"pl_file_path": {
								"value": "@concat(pipeline().parameters.pl_file_para,'.json')",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_for_season",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_on_season",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_on_season').output.value[0].MRData.SeasonTable.Seasons",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "act_copy_for_race",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_source_restapi",
									"type": "DatasetReference",
									"parameters": {
										"pl_file_name": {
											"value": "@item().season",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sink_adls",
									"type": "DatasetReference",
									"parameters": {
										"pl_dir_path": {
											"value": "@concat('bronze/races/',formatDateTime(utcnow(),'yyyy-MM-dd'))",
											"type": "Expression"
										},
										"pl_file_path": {
											"value": "@concat('bronze/races/',formatDateTime(utcnow(),'yyyy-MM-dd'))",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"pl_file_para": {
				"type": "string",
				"defaultValue": "seasons"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-04-22T14:08:25Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}